[submodule "nix-darwin"]
	path = nix-darwin
	url = git://github.com/LnL7/nix-darwin
[submodule "nixpkgs"]
	path = nixpkgs-channels
	url = git://github.com/nixos/nixpkgs-channels
	branch = nixpkgs-unstable
[submodule "nur-packages"]
	path = nur-packages
	url = git://github.com/timaa2k/nur-packages
[submodule "homies"]
	path = homies
	url = git://github.com/timaa2k/homies
